  <label for="title">Title: </label>
  <input type="text" name="title" value="<%= @survey.try(:title)%>" id="title" placeholder="e.g. Who would win in a battle?" required>
  <br>
  <label for ="descr"> Description: </label>
  <textarea rows="4" cols="50" name="description" id="desc" >
  <%=@survey.try(:descr)%>
  </textarea>
  <br>
  <label for="poll_key">Poll Key: (create a 3-5 character key you can use to control the voting window via SMS) </label>
  <input type="text" name="poll_key" value="<%= @survey.try(:poll_key)%>" id="poll_key" placeholder="e.g. L3G1T" required>
  <br>
  <label for="phone">Poll Phone Number: (where will your voters send their texts?)</label>
  <input type="text" name="phone" value="<%= @survey.try(:phone)%>" id="phone" placeholder="774-849-3378"required>
  <br>
  <input type="submit" value="save">
  <a>Add a Response Option</a>